body {
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    padding: 30px;
    background: #f8f8f8;
    font-size: 20px;
}
button {
    padding:12px 20px;
    font-size:18px;
    margin:10px;
    cursor:pointer;
    background-color: rgb(6, 247, 255);
    border:none;
    border-radius: 16px;
    color:#f8f8f8;
}
