body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align:right;
    padding: 30px;
    background: #f8f8f8;
    font-size: 20px;
    background-image:url('DSC_5197_copy_dcb2934081.jpg');
    background-size: cover;
    background-position: top center;
}
.nohom {
    background-color:rgb(255, 255, 255);
    color:rgb(6, 95, 212);
    border:1px solid rgb(6, 95, 212);
    border-radius:2px;
    cursor:pointer;
    padding:10px 16px;
    margin:8px;
    transition: background-color 0.15, color 0.15;
    font-size: 15px;
  }
  .nohom:hover {
    background-color:rgb(53, 53, 255);
    color:rgb(255, 255, 255);
  }
  .nohom:active {
    opacity:0.6;
  }
.hashtom {
    background-color:rgb(255, 255, 255);
    color:rgb(233, 3, 3);
    border:1px solid rgb(233, 3, 3);
    border-radius:2px;
    cursor:pointer;
    padding:10px 16px;
    margin:8px;
    transition: background-color 0.15, color 0.15;
    font-size: 15px;
  }
  .hashtom:hover {
    background-color:rgb(233, 3, 3);
    color:rgb(255, 255, 255);
  }
  .hashtom:active {
    opacity:0.6;
  }




